<h2>From COTECH,</h2>

<h3>Hello {{name}}, welcome to Project-Hub.</h3>

<p>
  We've seen you join this web app that emulates the operation of the <a href="https://levy-rateit.herokuapp.com/">Awwards</a>. Feel free to update your profile,
    make post(s), <br> comment(s), and share projects. Also you should rate idividual projects based on: <br>
    <ul>
      <li>Design,</li>
      <li>Usability,</li>
      <li>and Content.</li>
    </ul>
    Feel at home. <br> <br>

    <b>Your honoured Developer</b>, <br>
    <a href="https://github.com/omololevy">Cotech Levy</a>. <br>
</p>
<p class="alert alert-danger">If you did not make this request kindly <a href="mailto:cotechlevy@gmail.com" class="btn btn-danger">REPORT</a>
    immediately!!</p>