{% extends 'main/base.html' %}

{% load bootstrap5 %}
{% load static %}

{% block content %}
<div style="padding-left: 35px;">
  <div class="page-headings style2">
    <h2 class="heading-x-large" style="color: rgb(70, 183, 187);">
      Motivation
    </h2>
    <hr>
    <h5>Have you ever wondered how the world would look like if everyone understood the quality requirement of any
      <strong>Project</strong> they do?</h5>
    <p>
      Well, it's for this reason that <em>Cotech Levy</em> has come up with an interractive platform for expertise and
      professionals from wherever part
      of the world, to <strong>Post</strong>, <strong>Review</strong> and <strong>Rate</strong> projects based on the:
      <ol>
        <li><b>Design</b></li>
        <li><b>Usability</b></li>
        <li><b>Content</b></li>
      </ol>
      of these various projects.
    </p>
  </div>
</div>
{% endblock %}